.employee {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
}

.employee-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.grid {
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
    gap: 12px;
}

.total-number-of-employees {
    align-self: start;
    grid-area: total-number-of-employees;
}

.number-of-employees-by-department {
    grid-area: number-of-employees-by-department;
}

.age-group {
    grid-area: age-group;
}

.gender-distribution {
    grid-area: gender-distribution;
}

.marital-status {
    grid-area: marital-status;
}

.employee-location {
    grid-area: employee-location;
}

.top-5-best-selling-sales-persons-ytd {
    grid-area: top-5-best-selling-sales-persons-ytd;
}

.top-5-best-selling-sales-persons-last-year {
    grid-area: top-5-best-selling-sales-persons-last-year;
}

.employee-summary-matrix {
    grid-area: employee-summary-matrix;
}

@media (min-width: 0px) {
    .employee {
        padding: 0px;
    }

    .header {
        padding-left: 12px;
        padding-right: 12px;
    }

    .grid {
        padding-left: 12px;
        padding-right: 12px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "total-number-of-employees"
            "number-of-employees-by-department"
            "age-group"
            "gender-distribution"
            "marital-status"
            "employee-location"
            "top-5-best-selling-sales-persons-ytd"
            "top-5-best-selling-sales-persons-last-year"
            "employee-summary-matrix";
    }
}

@media (min-width: 600px) {
}

@media (min-width: 905px) {
    .employee {
        padding: 24px;
    }

    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .grid {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1240px) {
}

@media (min-width: 1440px) {
    .grid {

    }
}

