@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Components.Shared.Dialog
@using SalesDashboard.Components.StateProviders.BreakpointStateProvider
@using SalesDashboard.Entities
@using SalesDashboard.Pages.Regional

@inject IDbContextFactory<AdventureWorksContext> DbFactory

<DialogComponent DialogSize="EnumDialogSize.ExtraLarge">
    <HeaderContent>
        @MudDialog.Title
    </HeaderContent>
    <BodyContent>
        <div class="select-product-subcategory">
            <div class="data-grid-container">
                <MudDataGrid T="SelectProductSubcategoryGridItem"
                             Items="ProductSubcategories"
                             Virtualize="true"
                             OverscanCount="25"
                             FixedHeader="true"
                             Height="@GetDataGridHeight()"
                             MultiSelection="true"
                             @bind-SelectedItems="SelectedProductSubcategories"
                             SelectOnRowClick="false"
                             Filterable="true"
                             FilterMode="DataGridFilterMode.ColumnFilterRow"
                             FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
                             Breakpoint="Breakpoint.None"
                             Elevation="0"
                             Dense="true"
                             Outlined="true"
                             Striped="true">
                    <Columns>
                        <SelectColumn T="SelectProductSubcategoryGridItem" />
                        <PropertyColumn Title="Name" Property="productSubcategory => productSubcategory.Name" />
                        <PropertyColumn Title="Product Category" Property="productSubcategory => productSubcategory.ProductCategoryName" />
                    </Columns>
                </MudDataGrid>
            </div>
            <div class="list-container">
                <MudList T="SelectProductSubcategoryGridItem">
                    @foreach (var selectedProductSubcategory in SelectedProductSubcategories)
                    {
                        <MudChip T="SelectProductSubcategoryGridItem"
                                 OnClose="() => HandleSelectedProductSubcategoryDeselected(selectedProductSubcategory)">
                            @selectedProductSubcategory.Name
                        </MudChip>
                    }
                </MudList>
            </div>
        </div>
    </BodyContent>
    <FooterContent>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" style="margin-right: auto;" OnClick="SelectedProductSubcategories.Clear">Clear</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleOk" DropShadow="false">OK</MudButton>
        <MudButton Variant="Variant.Filled" OnClick="MudDialog.Cancel" DropShadow="false">Cancel</MudButton>
    </FooterContent>
</DialogComponent>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = null!;

    [CascadingParameter]
    public BreakpointStateProviderComponent BreakpointStateProviderComponent { get; set; } = null!;

    [CascadingParameter]
    public RegionalStateProviderComponent RegionalStateProviderComponent { get; set; } = null!;

    [Parameter]
    public List<string> InitiallySelectedProductSubcategoryNames { get; set; } = [];

    private List<SelectProductSubcategoryGridItem> ProductSubcategories { get; set; } = [];

    private HashSet<SelectProductSubcategoryGridItem> SelectedProductSubcategories { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        var query = context.ProductSubcategories.AsQueryable();

        query = query
            .Include(productSubcategory => productSubcategory.ProductCategory)
            .OrderBy(productSubcategory => productSubcategory.Name);

        var productCategoryNames = RegionalStateProviderComponent.ProductCategoryNames.Value;

        if (productCategoryNames.Any())
        {
            query = query.Where(productSubcategory => productCategoryNames.Contains(productSubcategory.ProductCategory.Name));
        }

        ProductSubcategories = await query
            .Select(productSubcategory => new SelectProductSubcategoryGridItem
            {
                Name = productSubcategory.Name,
                ProductCategoryName = productSubcategory.ProductCategory.Name
            })
            .ToListAsync();

        if (InitiallySelectedProductSubcategoryNames.Any())
        {
            SelectedProductSubcategories = ProductSubcategories
                .Where(productSubcategory => InitiallySelectedProductSubcategoryNames.Contains(productSubcategory.Name))
                .ToHashSet();
        }
    }

    private void HandleSelectedProductSubcategoryDeselected(SelectProductSubcategoryGridItem productSubcategory)
    {
        SelectedProductSubcategories.Remove(productSubcategory);
    }

    private void HandleOk()
    {
        MudDialog.Close(DialogResult.Ok(SelectedProductSubcategories.Select(productSubcategory => productSubcategory.Name)));
    }

    private string GetDataGridHeight()
    {
        if (BreakpointStateProviderComponent.BreakpointStateSubject.Value <= EnumBreakpointState.B_Small_600_904)
        {
            return "300px";
        }
        else
        {
            return "600px";
        }
    }
}
