.select-product-subcategory {
    display: grid;
    gap: 12px;
}

.data-grid-container {
    grid-area: data-grid-container;
}

.list-container {
    grid-area: list-container;
    overflow: auto;
    flex-grow: 1;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
}

@media (min-width: 0px) {
    .select-product-subcategory {
        grid-template-columns: 1fr;
        grid-template-areas:
            "data-grid-container"
            "list-container";
    }

    .list-container {
        height: 100px;
    }
}

@media (min-width: 600px) {
}

@media (min-width: 905px) {
    .select-product-subcategory {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "list-container data-grid-container";
    }

    .list-container {
        height: 600px;
    }
}

@media (min-width: 1240px) {
}

@media (min-width: 1440px) {
}
