@page "/"

<PageTitle>Home</PageTitle>

<div class="home">
    <div class="home-container mud-elevation-4">
        <div class="header">
            <div class="header-title">Adventure Works</div>
            <div class="header-subtitle">Sales Dashboard</div>
        </div>
        <div class="about">
            <div class="about-container">
                The Adventure Works company represents a bicycle manufacturer that sells bicycles, clothing, and accessories to global markets. There are statistics presented in three different categories, regional, product and employee. Statistics are covered for the years 2011-2014. Being interactive, the user can play with filters to gain valuable insights specific to their questions and needs.
            </div>
        </div>
        <div class="pages">
            <div class="pages-container">
                <div class="page">
                    <img class="page-image" src="/images/regional.png" />
                    <MudButton Variant="Variant.Filled"
                               Href="/Regional"
                               DropShadow="false">
                        Regional
                    </MudButton>
                </div>
                <div class="page">
                    <img class="page-image" src="/images/regional.png" />
                    <MudButton Variant="Variant.Filled"
                               Href="/Regional"
                               DropShadow="false">
                        Regional
                    </MudButton>
                </div>
                <div class="page">
                    <img class="page-image" src="/images/regional.png" />
                    <MudButton Variant="Variant.Filled"
                               Href="/Regional"
                               DropShadow="false">
                        Regional
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
