.product {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
}

.product-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.grid {
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
    gap: 12px;
}

.quantity-sold {
    grid-area: quantity-sold;
}

.distribution-of-sales-by-product-category {
    grid-area: distribution-of-sales-by-product-category;
}

.bikes-sales-trend {
    grid-area: bikes-sales-trend;
}

.top-3-subcategories-with-highest-gross-margin {
    grid-area: top-3-subcategories-with-highest-gross-margin;
}

.best-selling-bike {
    grid-area: best-selling-bike;
}

@media (min-width: 0px) {
    .product {
        padding: 0px;
    }

    .header {
        padding-left: 12px;
        padding-right: 12px;
    }

    .grid {
        padding-left: 12px;
        padding-right: 12px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "quantity-sold"
            "distribution-of-sales-by-product-category"
            "bikes-sales-trend"
            "best-selling-bike"
            "top-3-subcategories-with-highest-gross-margin";
    }
}

@media (min-width: 600px) {
}

@media (min-width: 905px) {
    .product {
        padding: 24px;
    }

    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .grid {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "quantity-sold distribution-of-sales-by-product-category"
            "bikes-sales-trend best-selling-bike"
            "top-3-subcategories-with-highest-gross-margin top-3-subcategories-with-highest-gross-margin";
    }
}

@media (min-width: 1240px) {
}

@media (min-width: 1440px) {
}
