@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Components.Shared.SpinnerOverlay
@using SalesDashboard.Entities
@using SalesDashboard.Helpers

@implements IDisposable
@inject IDbContextFactory<AdventureWorksContext> DbFactory

<SpinnerOverlayComponent IsVisible="IsChartDataLoading">
    <div class="age-group">
        <MudChart ChartType="ChartType.StackedBar"
                  ChartSeries="ChartSeries"
                  ChartOptions="ChartOptions"
                  Width="100%"
                  Height="300" />
    </div>
</SpinnerOverlayComponent>

@code {
    [CascadingParameter]
    public EmployeeFilterStateProviderComponent EmployeeFilterStateProviderComponent { get; set; } = null!;

    private IDisposable? EmployeeFilterChangedSubscription { get; set; }

    private bool IsChartDataLoading { get; set; } = false;

    public List<ChartSeries> ChartSeries { get; set; } = new();

    private ChartOptions ChartOptions { get; set; } = new()
    {
        YAxisTicks = 20
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EmployeeFilterChangedSubscription = EmployeeFilterStateProviderComponent.EmployeeFilterChanged
                .Throttle(TimeSpan.FromMilliseconds(25))
                .Subscribe(async _ => await RequeryChartDataAsync());

            await RequeryChartDataAsync();
        }
    }

    private async Task RequeryChartDataAsync()
    {
        IsChartDataLoading = true;

        await InvokeAsync(StateHasChanged);

        using var context = DbFactory.CreateDbContext();

        var today = SimulatedDateTime.Today;

        var birthDates = await context.Employees
            .Select(e => e.BirthDate)
            .ToListAsync();

        var items = birthDates
            .Select(birthDate => new
            {
                Age = (int)((today - birthDate).TotalDays / 365.25)
            })
            .GroupBy(x => new
            {
                AgeGroup =
                    x.Age < 30 ? "0-29" :
                    x.Age < 40 ? "30-39" :
                    x.Age < 50 ? "40-49" :
                    x.Age < 60 ? "50-59" :
                    x.Age < 70 ? "60-69" :
                    x.Age < 80 ? "70-79" :
                    "80-above"
            })
            .Select(g => new AgeGroupItem
            {
                AgeGroup = g.Key.AgeGroup,
                Count = g.Count()
            })
            .OrderBy(item => item.AgeGroup)
            .ToList();

        List<ChartSeries> chartSeries = new();

        for (int i = 0; i < items.Count; i++)
        {
            ChartSeries chartSerie = new()
            {
                Name = $"{items[i].AgeGroup} ({items[i].Count})",
                Data = new double[items.Count]
            };

            chartSerie.Data[i] = items[i].Count;

            chartSeries.Add(chartSerie);
        }

        ChartSeries = chartSeries;

        IsChartDataLoading = false;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        EmployeeFilterChangedSubscription?.Dispose();
    }
}
