@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Components.Shared.Dialog
@using SalesDashboard.Components.StateProviders.BreakpointStateProvider
@using SalesDashboard.Entities

@inject IDbContextFactory<AdventureWorksContext> DbFactory

<DialogComponent DialogSize="EnumDialogSize.ExtraLarge">
    <HeaderContent>
        @MudDialog.Title
    </HeaderContent>
    <BodyContent>
        <div class="select-product-category">
            <div class="data-grid-container">
                <MudDataGrid T="SelectProductCategoryGridItem"
                             Items="ProductCategories"
                             Virtualize="true"
                             OverscanCount="25"
                             FixedHeader="true"
                             Height="@GetDataGridHeight()"
                             MultiSelection="true"
                             @bind-SelectedItems="SelectedProductCategories"
                             SelectOnRowClick="false"
                             Filterable="true"
                             FilterMode="DataGridFilterMode.ColumnFilterRow"
                             FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
                             Breakpoint="Breakpoint.None"
                             Elevation="0"
                             Dense="true"
                             Outlined="true"
                             Striped="true">
                    <Columns>
                        <SelectColumn T="SelectProductCategoryGridItem" />
                        <PropertyColumn Title="Name" Property="productCategory => productCategory.Name" />
                    </Columns>
                </MudDataGrid>
            </div>
            <div class="list-container">
                <MudList T="SelectProductCategoryGridItem">
                    @foreach (var selectedProductCategory in SelectedProductCategories)
                    {
                        <MudChip T="SelectProductCategoryGridItem"
                                 OnClose="() => HandleSelectedProductCategoryDeselected(selectedProductCategory)">
                            @selectedProductCategory.Name
                        </MudChip>
                    }
                </MudList>
            </div>
        </div>
    </BodyContent>
    <FooterContent>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" style="margin-right: auto;" OnClick="SelectedProductCategories.Clear">Clear</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleOk" DropShadow="false">OK</MudButton>
        <MudButton Variant="Variant.Filled" OnClick="MudDialog.Cancel" DropShadow="false">Cancel</MudButton>
    </FooterContent>
</DialogComponent>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = null!;

    [CascadingParameter]
    public BreakpointStateProviderComponent BreakpointStateProviderComponent { get; set; } = null!;

    [Parameter]
    public List<string> InitiallySelectedProductCategoryNames { get; set; } = [];

    private List<SelectProductCategoryGridItem> ProductCategories { get; set; } = [];

    private HashSet<SelectProductCategoryGridItem> SelectedProductCategories { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        var query = context.ProductCategories.AsQueryable();

        ProductCategories = await query
            .OrderBy(productCategory => productCategory.Name)
            .Select(productCategory => new SelectProductCategoryGridItem
                {
                    Name = productCategory.Name
                })
            .ToListAsync();

        if (InitiallySelectedProductCategoryNames.Any())
        {
            SelectedProductCategories = ProductCategories
                .Where(productCategory => InitiallySelectedProductCategoryNames.Contains(productCategory.Name))
                .ToHashSet();
        }
    }

    private void HandleSelectedProductCategoryDeselected(SelectProductCategoryGridItem productCategory)
    {
        SelectedProductCategories.Remove(productCategory);
    }

    private void HandleOk()
    {
        MudDialog.Close(DialogResult.Ok(SelectedProductCategories.Select(productCategory => productCategory.Name)));
    }

    private string GetDataGridHeight()
    {
        if (BreakpointStateProviderComponent.BreakpointStateSubject.Value <= EnumBreakpointState.B_Small_600_904)
        {
            return "300px";
        }
        else
        {
            return "600px";
        }
    }
}
