﻿.internet-vs-reseller {
    display: grid;
    gap: 8px;
    padding: 8px;
}

@media (min-width: 0px) {
    .internet-vs-reseller {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .internet-vs-reseller {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
}
