@using SalesDashboard.Components.Shared.PageBox

<div class="internet-vs-reseller">
    <PageBoxComponent Title="Total Sales IS" Size="EnumPageBoxSize.Small">
        Total Sales IS
    </PageBoxComponent>
    <PageBoxComponent Title="Total Cost IS" Size="EnumPageBoxSize.Small">
        Total Cost IS
    </PageBoxComponent>
    <PageBoxComponent Title="Gross Profit IS" Size="EnumPageBoxSize.Small">
        Gross Profit IS
    </PageBoxComponent>
    <PageBoxComponent Title="Gross Margin IS" Size="EnumPageBoxSize.Small">
        Gross Margin IS
    </PageBoxComponent>
    <PageBoxComponent Title="Total Sales RS" Size="EnumPageBoxSize.Small">
        Total Sales RS
    </PageBoxComponent>
    <PageBoxComponent Title="Total Cost RS" Size="EnumPageBoxSize.Small">
        Total Cost RS
    </PageBoxComponent>
    <PageBoxComponent Title="Gross Profit RS" Size="EnumPageBoxSize.Small">
        Gross Profit RS
    </PageBoxComponent>
    <PageBoxComponent Title="Gross Margin RS" Size="EnumPageBoxSize.Small">
        Gross Margin RS
    </PageBoxComponent>
</div>

@code {

}
