@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Entities

@inject IDbContextFactory<AdventureWorksContext> DbFactory

<div class="regional-filter">
    <div class="regional-filter-item">
        <div class="regional-filter-item-key">Country:</div>
        <div class="regional-filter-item-value">Denmark, Sweden, Germany, Canada, Portugal, Spain, Italy, Poland</div>
        <Button Color="ButtonColor.Primary">Select</Button>
    </div>
    <hr>
    <Button Color="ButtonColor.Danger" Style="align-self: flex-start;">Reset</Button>
</div>

@code {

}
