@page "/Regional"

@using SalesDashboard.Components.Shared.PageBox
@using SalesDashboard.Components.StateProviders.BreakpointStateProvider

<PageTitle>Regional Analysis</PageTitle>

<div class="regional">
    <div class="regional-container shadow">
        <div class="header">
            Regional Analysis
        </div>
@*         <Accordion style="@GetFilterSettingsAccordionStyle()">
            <AccordionItem Style="background-color: var(--bs-gray-50);">
                <TitleTemplate>
                    <Icon Name="IconName.Filter" style="margin-right: 6px;" /> Filter Settings
                </TitleTemplate>
                <Content>
                    <RegionalFilterComponent />
                </Content>
            </AccordionItem>
        </Accordion> *@
        <div class="grid">
            <div class="total-sales">
                <PageBoxComponent Title="Total Sales">
                    Total Sales
                </PageBoxComponent>
            </div>
            <div class="total-cost">
                <PageBoxComponent Title="Total Cost">
                    Total Cost
                </PageBoxComponent>
            </div>
            <div class="gross-profit">
                <PageBoxComponent Title="Gross Profit">
                    Gross Profit
                </PageBoxComponent>
            </div>
            <div class="gross-margin">
                <PageBoxComponent Title="Gross Margin">
                    Gross Margin
                </PageBoxComponent>
            </div>
            <div class="sales-trend-top-3-countries">
                <PageBoxComponent Title="Sales Trend Top 3 Countries">
                    <SalesTrendTop3CountriesComponent />
                </PageBoxComponent>
            </div>
            <div class="internet-vs-reseller">
                <PageBoxComponent Title="Internet vs Reseller Sales">
                    <InternetVsResellerComponent />
                </PageBoxComponent>
            </div>
            <div class="distribution-of-sales">
                <PageBoxComponent Title="Distribution of Sales">
                    Distribution of Sales
                </PageBoxComponent>
            </div>
            <div class="top-3-states">
                <PageBoxComponent Title="Top 3 States (Sales)">
                    Top 3 States
                </PageBoxComponent>
            </div>
            <div class="top-3-cities">
                <PageBoxComponent Title="Top 3 Cities (Sales)">
                    Top 3 Cities
                </PageBoxComponent>
            </div>
            <div class="summary-matrix">
                <PageBoxComponent Title="Summary Matrix">
                    Summary Matrix
                </PageBoxComponent>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public BreakpointStateProviderComponent BreakpointStateProviderComponent { get; set; } = null!;

    private string GetFilterSettingsAccordionStyle()
    {
        var styleString = "padding-top: 24px;";

        if (BreakpointStateProviderComponent.BreakpointStateSubject.Value <= EnumBreakpointState.B_Small_576_767)
        {
            styleString += " padding-left: 12px; padding-right: 12px;";
        }
        else
        {
            styleString += " padding-left: 24px; padding-right: 24px;";
        }

        return styleString;
    }
}
