<div class="page-box">
    <div class="@GetPageBoxHeaderClass()">
        @if (ShowRefreshButton)
        {
            <MudTooltip Text="Refresh" Delay="500">
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh"
                               Variant="Variant.Filled"
                               Size="MudBlazor.Size.Small"
                               OnClick="HandleRefreshClickedAsync" />
            </MudTooltip>
        }
        else
        {
            <div></div>
        }
        <div>@Title</div>
        <div></div>
    </div>
    @ChildContent
</div>

@code {
    [EditorRequired]
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public EnumPageBoxSize Size { get; set; } = EnumPageBoxSize.Medium;

    [Parameter]
    public bool ShowRefreshButton { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnRefreshClicked { get; set; }

    private async Task HandleRefreshClickedAsync()
    {
        await OnRefreshClicked.InvokeAsync();
    }

    public string GetPageBoxHeaderClass()
    {
        var classString = "page-box-header";

        if (Size is EnumPageBoxSize.Small)
        {
            classString += " page-box-header--small";
        }
        else if (Size is EnumPageBoxSize.Medium)
        {
            classString += " page-box-header--medium";
        }

        return classString;
    }
}
