<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#594AE2" />
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat:300,400,500,700&display=swap" />
    <!-- https://github.com/divvjson/favicons -->
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/divvjson/favicons/main/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://raw.githubusercontent.com/divvjson/favicons/main/android-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/divvjson/favicons/main/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://raw.githubusercontent.com/divvjson/favicons/main/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/divvjson/favicons/main/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/divvjson/favicons/main/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/divvjson/favicons/main/favicon-16x16.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/divvjson/favicons/main/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://raw.githubusercontent.com/divvjson/favicons/main/ms-icon-144x144.png">
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="css/highlight/atom-one-dark.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/summary-matrix.css" />
    <link rel="stylesheet" href="SalesDashboard.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQQFJrFk4_rPGKGsKFXz5DtaQ-5WpW9E0&loading=async&libraries=marker" async defer></script>
    <script src="/js/sql-formatter.min.js"></script>
    <script src="/js/highlight/highlight.min.js"></script>
    <script src="/js/highlight/sql.min.js"></script>
</body>

</html>
