@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Components.Shared.SpinnerOverlay
@using SalesDashboard.Entities
@using SalesDashboard.Extensions
@using SalesDashboard.Services

@implements IDisposable
@inject IDbContextFactory<AdventureWorksContext> DbFactory
@inject CircuitAccessor CircuitAccessor

<SpinnerOverlayComponent IsVisible="IsChartDataLoading">
    <div class="top-3-states">
        @if (Data is null)
        {
            
        }
        else
        {
            <MudChart ChartType="ChartType.Pie"
                      InputData="Data"
                      InputLabels="Labels"
                      Height="110px" />
        }
    </div>
</SpinnerOverlayComponent>

@code {
    [CascadingParameter]
    public RegionalStateProviderComponent RegionalStateProviderComponent { get; set; } = null!;

    private IDisposable? RegionalFilterChangedSubscription { get; set; }

    private IDisposable? Top3StatesRefreshedSubscription { get; set; }

    private bool IsChartDataLoading { get; set; } = false;

    private int DataSize { get; set; } = 3;

    private double[]? Data { get; set; } = null;

    private string[]? Labels { get; set; } = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RegionalFilterChangedSubscription = RegionalStateProviderComponent.RegionalFilterChanged
                .Throttle(TimeSpan.FromMilliseconds(25))
                .Subscribe(async _ => await RequeryChartDataAsync());

            Top3StatesRefreshedSubscription = RegionalStateProviderComponent.Top3StatesRefreshed
                .Subscribe(async _ => await RequeryChartDataAsync());

            await RequeryChartDataAsync();
        }
    }

    private async Task RequeryChartDataAsync()
    {
        IsChartDataLoading = true;

        await InvokeAsync(StateHasChanged);

        var period = RegionalStateProviderComponent.Period.Value;
        var countryRegionNames = RegionalStateProviderComponent.CountryRegionNames.Value;
        var productCategoryNames = RegionalStateProviderComponent.ProductCategoryNames.Value;
        var productSubcategoryNames = RegionalStateProviderComponent.ProductSubcategoryNames.Value;
        var productNames = RegionalStateProviderComponent.ProductNames.Value;

        using var context = DbFactory.CreateDbContext();

        var query = context.SalesOrderDetails.AsQueryable();

        if (period is not null)
        {
            if (period.Start.HasValue)
            {
                query = query.Where(sod => sod.SalesOrder.OrderDate >= period.Start.Value);
            }

            if (period.End.HasValue)
            {
                query = query.Where(sod => sod.SalesOrder.OrderDate <= period.End.Value);
            }
        }

        if (countryRegionNames.Any())
        {
            query = query.Where(sod => countryRegionNames.Contains(sod.SalesOrder.BillToAddress.StateProvince.CountryRegionCodeNavigation.Name));
        }

        if (productCategoryNames.Any())
        {
            query = query.Where(sod => sod.Product.ProductSubcategory != null && productCategoryNames.Contains(sod.Product.ProductSubcategory.ProductCategory.Name));
        }

        if (productSubcategoryNames.Any())
        {
            query = query.Where(sod => sod.Product.ProductSubcategory != null && productSubcategoryNames.Contains(sod.Product.ProductSubcategory.Name));
        }

        if (productNames.Any())
        {
            query = query.Where(sod => productNames.Contains(sod.Product.Name));
        }

        var items = await query
            .TagWith(DbCommandService.GetDbCommandTag(EnumDbCommandTag.COMMAND_NAME, "Top 3 States"))
            .TagWith(DbCommandService.GetDbCommandTag(EnumDbCommandTag.CIRCUIT_ID, CircuitAccessor.CircuitId))
            .GroupBy(sod => new
            {
                StateProvinceName = sod.SalesOrder.BillToAddress.StateProvince.Name
            })
            .Select(g => new Top3StateItem
            {
                StateProvinceName = g.Key.StateProvinceName,
                TotalSales = g.Sum(sod => sod.LineTotal)
            })
            .OrderByDescending(item => item.TotalSales)
            .Take(3)
            .ToListAsync();

        if (items.Any())
        {
            Data = items
                .Select(item => (double)item.TotalSales)
                .ToArray();

            Labels = items
                .Select(item => $"{item.StateProvinceName} ({item.TotalSales.ToCurrencyWithTwoDecimalsInMillions()})")
                .ToArray();
        }
        else
        {
            Data = null;
            Labels = null;
        }

        IsChartDataLoading = false;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        RegionalFilterChangedSubscription?.Dispose();
        Top3StatesRefreshedSubscription?.Dispose();
    }
}
