<div class="overlay-container">
    <div class="overlay @(IsVisible ? "visible" : "")">
        <MudButton style="background-color: white;" OnClick="HandleActivateClickedAsync">Click To Activate</MudButton>
    </div>
    <div class="content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback OnActivateClicked { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private async Task HandleActivateClickedAsync()
    {
        await OnActivateClicked.InvokeAsync();
    }
}
