<div class="filter-settings-item">
    <div class="filter-settings-item-key">@(Key + ":")&nbsp;</div>
    <div class="filter-settings-item-value">@Value</div>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary">Select</MudButton>
</div>

@code {
    [Parameter, EditorRequired]
    public required string Key { get; set; }

    [Parameter, EditorRequired]
    public required string Value { get; set; }
}
