@using SalesDashboard.Components.StateProviders.BreakpointStateProvider

<MudExpansionPanels style="@GetMudExpansionPanelsStyle()">
    <MudExpansionPanel style="@GetMudExpansionPanelStyle()">
        <TitleContent>
            <div class="filter-settings-title-container">
                <MudIcon Icon="@Icons.Material.Outlined.FilterAlt" />
                <div>Filter Settings</div>
            </div>
        </TitleContent>
        <ChildContent>
            <div class="filter-settings-expansion-panel-container">
                @ChildContent
            </div>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [CascadingParameter]
    public BreakpointStateProviderComponent BreakpointStateProviderComponent { get; set; } = null!;

    private string GetMudExpansionPanelsStyle()
    {
        var styleString = "border-radius: 4px; padding-top: 24px;";

        if (BreakpointStateProviderComponent.BreakpointStateSubject.Value <= EnumBreakpointState.B_Small_576_767)
        {
            styleString += " padding-left: 12px; padding-right: 12px;";
        }
        else
        {
            styleString += " padding-left: 24px; padding-right: 24px;";
        }

        return styleString;
    }

    private string GetMudExpansionPanelStyle()
    {
        var styleString = "background-color: var(--gray-50);";

        return styleString;
    }
}
