.select-country {
    display: grid;
    gap: 16px;
}

.grid-container {
    grid-area: grid-container;
}

.list-group {
    grid-area: list-group;
}

@media (min-width: 0px) {
    .select-country {
        grid-template-columns: 1fr;
        grid-template-areas:
            "grid-container"
            "list-group";
    }

    .list-group {
        height: 250px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .select-country {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "list-group grid-container";
    }

    .list-group {
        height: 100%;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}