<div class="overlay-container">
    <div class="overlay @(IsVisible ? "visible" : "")">
        <MudProgressCircular Color="Color.Inherit" Indeterminate="true" />
    </div>
    <div class="content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
