.figure-box {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

::deep .mud-progress-linear {
    position: absolute;
    left: 0;
    top: 0;
}

.figure-box-value {
    font-weight: 500;
}

@container (min-width: 0px) {
    .figure-box-value {
        font-size: 18px;
    }
}

@container (min-width: 150px) {
    .figure-box-value {
        font-size: 22px;
    }
}

@container (min-width: 200px) {
    .figure-box-value {
        font-size: 26px;
    }
}
