<div class="summary-matrix-th">
    <div class="title">@Title</div>
    @if (AggregationMethod is not null)
    {
        <div class="aggregation-method" title="Aggregation: @AggregationMethod.ToString()">
            @if (AggregationMethod is EnumAggregationMethod.Average)
            {
                <div>(avg.)</div>
            }
            else if (AggregationMethod is EnumAggregationMethod.Sum)
            {
                <div>(sum)</div>
            }
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public EnumAggregationMethod? AggregationMethod { get; set; } = EnumAggregationMethod.None;
}
