<div class="summary-matrix-th">
    <div>@Title</div>
    @if (AggregationMethod is not null)
    {
        <MudTooltip Text="Aggregation used when grouping" Placement="Placement.Top" Delay="500">
            <div class="aggregation-method">
                @if (AggregationMethod is EnumAggregationMethod.Average)
                {
                    <div>(avg.)</div>
                }
                else if (AggregationMethod is EnumAggregationMethod.Sum)
                {
                    <div>(sum)</div>
                }
            </div>
        </MudTooltip>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public EnumAggregationMethod? AggregationMethod { get; set; } = EnumAggregationMethod.None;
}
