@using SalesDashboard.Components.Shared.SelectCurrencyDialog
@using SalesDashboard.Components.StateProviders.DeviceStateProvider
@using SalesDashboard.Components.StateProviders.DrawerStateProvider

@inject IDialogService DialogService

<div class="bar">
    <div class="bar-button mud-ripple" @onclick="DrawerStateProviderComponent.Toggle">
        <MudIcon Icon="@Icons.Material.Outlined.Menu" Title="Menu" />
    </div>
    <div class="title-container">
        <div class="title">Adventure Works</div>
        <div class="sub-title">Sales Dashboard</div>
    </div>
    <div class="bar-button" @onclick="OpenCurrencySelectorAsync">
        <MudIcon Icon="@Icons.Material.Outlined.Money" Title="Currency" />
    </div>
</div>

@code {
    [CascadingParameter]
    public DrawerStateProviderComponent DrawerStateProviderComponent { get; set; } = null!;

    [CascadingParameter]
    public DeviceStateProviderComponent DeviceStateProviderComponent { get; set; } = null!;

    private async Task OpenCurrencySelectorAsync()
    {
        await DialogService.ShowAsync<SelectCurrencyDialog>("Select Currency");
    }
}
