.bar {
    height: 100%;
    display: grid;
    grid-template-columns: var(--bar-height) 1fr var(--bar-height);
    background-color: var(--mud-palette-primary);
    color: white;
}

.bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (pointer: fine) {
    .bar-button:hover {
        filter: brightness(99%);
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 500;
}

.sub-title {
    font-size: 12px;
}
