@using SalesDashboard.Components.StateProviders.ConsoleStateProvider

<div class="console">
    <div class="console-area">
        Console here
    </div>
    <div class="console-actions">
        <MudTooltip Text="Close" Placement="Placement.Left" Delay="500">
            <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="ConsoleStateProviderComponent.Close" Color="Color.Inherit" />
        </MudTooltip>
        <MudTooltip Text="Clear" Placement="Placement.Left" Delay="500">
            <MudIconButton Icon="@Icons.Material.Outlined.DeleteForever" Color="Color.Inherit" />
        </MudTooltip>
    </div>
</div>

@code {
    [CascadingParameter]
    public ConsoleStateProviderComponent ConsoleStateProviderComponent { get; set; } = null!;
}
