@using SalesDashboard.Components.StateProviders.DeviceStateProvider
@using SalesDashboard.Components.StateProviders.DrawerStateProvider

<div class="drawer">
    <div class="drawer-container">
        <div class="drawer-title">Analysis</div>
        <div class="drawer-links">
            <DrawerLinkComponent Href="/" Title="Home" Icon="@Icons.Material.Outlined.Home" OnClick="HandleDrawerLinkClicked" />
            <DrawerLinkComponent Href="/Regional" Title="Regional" Icon="@Icons.Material.Outlined.Public" OnClick="HandleDrawerLinkClicked" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public DeviceStateProviderComponent DeviceStateProviderComponent { get; set; } = null!;

    [CascadingParameter]
    public DrawerStateProviderComponent DrawerStateProviderComponent { get; set; } = null!;

    private void HandleDrawerLinkClicked()
    {
        if (DeviceStateProviderComponent.FormFactorStateSubject.Value.Current is EnumFormFactorState.Handset)
        {
            DrawerStateProviderComponent.Close();
        }
    }
}
