.drawer-link {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--gray-50);
    padding: 4px;
    border-radius: 4px;
}

@media (pointer: fine) {
    .drawer-link:hover {
        background-color: var(--gray-200);
    }
}

.drawer-link-title {
    margin-left: 8px;
}

.drawer-link-active-indicator {
    margin-left: auto;
    margin-right: 2px;
    border-radius: 8px;
    width: 4px;
    height: 24px;
}

.drawer-link-active-indicator--active {
    background-color: var(--mud-palette-primary);
}
